<script src="/js/userMainPageStatesController.js"></script>
<script src="/js/searchController.js"></script>
<script src="/js/searchUserResultStateController.js"></script>
<script src="/js/followingUsersStateController.js"></script>
<script src="/js/followersUsersStateController.js"></script>
<script src="/js/hashTagsResultStateController.js"></script>