<div class="container-fluid" style="background-color:white;margin-top: -10px;margin-bottom: 10px;height: 200px;padding: 0px ">
    <div class="container-fluid" style="background-color:deepskyblue;margin-top: -10px;height: 160px;padding: 0px ">
        <div class="image">
            <img src="/images/logo.png" class="img-responsive" style="margin-top: 130px;margin-left: 60px;background-color: white" alt="logo" width="140" height="140">
        </div>
    </div>
    <div class="col-sm-offset-3">
        <div class="col-sm-7 twPc-divStats">
            <ul class="twPc-Arrange">
                <li class="twPc-ArrangeSizeFit">
                    <a ui-sref="#">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue"></span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a ui-sref="app.followingUsersState">
                        <span class="twPc-StatLabel twPc-block">Following</span>
                        <span class="twPc-StatValue"></span>
                    </a>
                </li>
                <li class="twPc-ArrangeSizeFit">
                    <a ui-sref="app.followersUsersState">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-5  "  style="margin-left: 6px;margin-top: 6px;padding-right:0px;padding-left: 0px;background-color: white ">
        <div ng-repeat="tweet in hashTags">
            <div class="container-fluid" style="background-color: #ffffff;margin: 0px;border-bottom: 1px solid #e1e8ed;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(225, 232, 237);">
                <div class="row">
                    <div class="col-sm-2 container-fluid" style="padding-left: 5px;padding-right: 5px">
                        <img src="/images/logo.png" class="img-responsive img-rounded" alt="logo" width="48" height="48" style="background-color:grey;margin-right: 0px;margin-top: 5px;margin-bottom: 15px">
                    </div>
                    <div class="col-sm-9 container-fluid" style="margin-left: -10px">
                        <div class="row">
                            <strong class="fullname">{{tweet.fullname}}</strong>
                        </div>
                        <div class="row">
                            <p class="tweet">{{tweet.tweet}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>
</div>