
<div class="container-fluid box  col-sm-8 col-sm-offset-2">
    <div class="login-title">
        <h3 class="modal-title" id="login-dialog-header">Log in to Twitter</h3>
    </div>
    <div class="container-fluid login-box  col-sm-6 col-sm-offset-3">
        <img src="/images/logo.png" class="logo " alt="logo" width="21" height="24">
        <div class="login-form ">
            <form role="form" >
                <div class="form-group ">
                    <input type="text" class="form-control text-input" placeholder="email" ng-model="email">
                </div>
                <div class="form-group ">
                    <input type="password" class="form-control text-input" placeholder="password" ng-model="password">
                </div>
                <div class="login-button">
                    <button type="submit" class=" btn btn-default " ng-click="login()">Log in</button>
                </div>
                <div class="form-group" >
                    <p class="taken error active" role="alert" style="color:red"     ng-show="error">
                        invalid credentials
                    </p>
                </div>
            </form>
        </div>
        <div class="LoginDialog-footer modal-footer u-textCenter">
            Don't have an account? <a class="LoginDialog-signupLink" ui-sref="app.signup">Sign up »</a>
        </div>
    </div>

</div>
