
<nav class="navbar navbar-default"  style="background: #ffffff;margin-bottom: 10px">

    <div class="container-fluid" >


        <div role="navigation " class="col-md-offset-1" style="display: inline-block;">
            <ul class="nav navbar-nav" >
                <li >
                    <a ui-sref="app" style="color:black">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span class="text"  >Home</span>
                    </a>
            </ul>
        </div>






        <div class="pull-right">
            <a href="/logout"><button type="button" class=" btn btn-default navbar-btn" >log out</button></a>
        </div>
        <div class=" pull-right container-fluid">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="data">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="search()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>




        </div>


    </div>

</nav>
