<div class="container" >
    <div class="row">

        <!-- code start -->
        <div class="twPc-div col-sm-4 " ng-init="getStats()">
            <a class="twPc-bg twPc-block"></a>

            <div>


                <a title="Mert Salih Kaplan" href="#" class="twPc-avatarLink">
                    <img alt="Mert Salih Kaplan" src="#" class="twPc-avatarImg">
                </a>

                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a href="#">Mert S. Kaplan</a>
                    </div>
			<span>
				<a href="#">@<span>mertskaplan</span></a>
			</span>
                </div>

                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
                                <span class="twPc-StatLabel twPc-block">Tweets</span>
                                <span class="twPc-StatValue">{{tweetCount}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a ui-sref="app.followingUsersState">
                                <span class="twPc-StatLabel twPc-block">Following</span>
                                <span class="twPc-StatValue">{{followingCount}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a ui-sref="app.followersUsersState">
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">{{followersCount}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-5" style="padding-left: 0px">
            <div class=" tweet-box col-sm-12" >
            <div class="row">
                <div class="col-sm-1">
                <img class="top-timeline-tweet-box-user-image avatar size32" width="32" height="32 "
                     src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="raghu">
                </div>
                <div class="col-sm-11">
                <form ng-submit="makeTweet()">
                    <div class="form-group ">
                        <textarea rows="2" class="form-control text-input" placeholder="what's happening?" ng-model="tweet"></textarea>
                    </div>
                    <div class="login-button pull-right">
                        <button type="submit" class=" btn btn-default " style="color: white;border: 0cm;background-color: #1da1f2 " ng-click="login()">Tweet</button>
                    </div>


                </form>
                </div>
            </div>
        </div>
            <div class="col-sm-12" ng-init="getTweets()" style="margin-left: 6px;margin-top: 6px;padding-right:0px;padding-left: 0px;background-color: white ">
                <div ng-repeat="tweet in data">
                    <div class="container-fluid" style="background-color: #ffffff;margin: 0px;border-bottom: 1px solid #e1e8ed;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(225, 232, 237);">
                        <div class="row">
                            <div class="col-sm-2 container-fluid" style="padding-left: 5px;padding-right: 5px">
                                <img src="/images/logo.png" class="img-responsive img-rounded" alt="logo" width="48" height="48" style="background-color:grey;margin-right: 0px;margin-top: 5px;margin-bottom: 15px">
                            </div>
                            <div class="col-sm-9 container-fluid" style="margin-left: -10px">
                                <div class="row">
                                    <strong class="fullname">{{tweet.fullname}}</strong>
                                </div>
                                <div class="row">
                                    <p class="tweet">{{tweet.tweet}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- code end -->
    </div>

</div>